body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: 'Segoe UI', regular;
  overflow-x: hidden
}

h1, h2 {
  font-family: 'Segoe Print', regular;
  font-size: 3em;
  width: 100%
}

h3 {
  font-size: 2em
}

h4 {
  font-size: 1.5em
}

h5 {
  font-size: 1.2em
}

p {
  font-size: 1em
}

ul {
  list-style-type: none;
  padding-left: 0
}

li {
  list-style-type: none
}

nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 10px 20%;
  justify-content: space-between;
  height: 10vh
}

.nav-links {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: center
}

li a {
  padding: 0 25px;
  text-decoration: none;
  color: black
}

a:hover {
  text-decoration: none;
  color: #46A140
}

.menu {
  display: none
}

.sidenav {
  display: none
}

.sky1 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 10vh;
  padding-left: 20%;
  padding-right: 20%
}

.sky2 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 10vh;
  padding-left: 20%;
  padding-right: 20%
}

.sky1, .sky2 {
  animation: mymove 2s infinite;
  animation-timing-function: linear;
  transform-origin: bottom
}

@-webkit-keyframes mymove {
  0% {
    transform: translateY(0)
  }

  50% {
    transform: translateY(-10px)
  }

  100% {
    transform: translateY(0)
  }
}

.hero {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  background-color: #46A140;
  color: white;
  height: 55vh;
  padding-top: 40px;
  padding-left: 20%;
  padding-right: 20%
}

.heading1 {
  margin-left: 20%;
  margin-top: 80px
}

.heading2 {
  width: 50%
}

.heading2 h1 {
  margin-bottom: 40px;
  width: 100vw
}

.heading2 h5 {
  padding-top: 20px
}

.button {
  margin-top: 40px;
  padding: 15px 60px;
  border-radius: 25px;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  background-color: white
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.result .button {
  border: solid .5px orange
}

.house {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 50%;
  justify-content: flex-end;
  align-items: flex-end
}

.houseImg {
  display: block;
  width: 550px;
  height: auto
}

.processHeading {
  padding: 0 20%;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 40px;
  font-size: 1.8em
}

.process {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: center;
  align-content: center;
  width: 100%;
  padding: 0 20%;
  width: 100%
}

.getStarted {
  display: block;
  text-align: center;
  background-color: #F9A602;
  padding: 50px 0;
  margin-top: 100px
}

.getStarted h2 {
  color: white;
  font-size: 1.8em
}

.getStarted .button {
  margin-top: 20px
}

.step {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  width: 30%;
  font-size: 1em
}

.first, .second, .third {
  width: 100%;
  padding: 5% 0
}

.first p, .second ul, .third p {
  width: 100%;
  margin: 5% 0%;
  text-align: left
}

.calcHeading {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 20px
}

.calculator {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 100px;
  padding: 70px 0;
  display: flex;
  flex-direction: column;
  background: url(images/calculator2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%
}

.calcHeading h2 {
  font-size: 1.8em;
  text-align: center;
}

.calculator h4 {
  margin-bottom: 5%
}

.calculator p {
  margin-bottom: 5%
}


    /* The Modal (background) */
    #modal {
      display: none;
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modalContent {
      background-color: #fefefe;
      margin: auto;
      padding: 20px 0;
      border: 1px solid #888;
      width: 80%;
      text-align: center;
    }

    .modalContent h6 {
      display: block;
      font-size: 1.3em;
      padding-left: 50px;
      margin: 20px 0;
      text-align: center;
    }

    /* The Close Button */
    .close {
      color: black;
      float: right;
      font-size: 28px;
      font-weight: bold;
      padding-right: 20px;
    }

    .close:hover,
    .close:focus {
      text-decoration: none;
      cursor: pointer;
    }

.form {
  padding: 0 5%
}

.sections {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row
}

.sect1 {
  width: 70%
}

.sect1 h5 {
  margin-bottom: 5%;
}

.cardParent {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

.cardParent a {
  margin: 0;
  padding: 0
}

.cardParent img {
  padding: 2%;
  width: auto;
  height: 200px
}

.card {
  border: none
}

.container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0;
}

.containerMobile {
  display:none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%
}

.container:hover input~.checkmark {
  background-color: #ccc
}

.container input:checked~.checkmark {
  background-color: #2196F3
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none
}

.container input:checked~.checkmark:after {
  display: block
}

.container:hover input~.checkmark {
  background-color: #ccc
}

.container input:checked~.checkmark {
  background-color: #F9A602
}

.result {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  align-content: space-between;
  align-items: center;
  padding: 2% 0
}

.result h3 {
  padding: 5% 0;
  font-weight: 700
}

.result .button {
  margin: 0
}

.testimonials {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: 0 20%;
  flex-direction: column;
}

.mySlides {
  text-align: center
}

.dot-container {
  text-align: center
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: grey;
  display: inline-block;
  cursor: pointer
}

.mySlides img {
  width: 70px
}

.dot:hover {
  background-color: #D8F3EC
}

.mySlides img {
  display: inline;
  padding: 0 20px
}

.mySlides h4 {
  display: inline;
  font-size: 1.5em
}

.images {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-top: 100px;
  padding-left: 20%;
  padding-right: 20%;
  justify-content: center
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  padding-top: 100px
}

.icons a {
  padding: 0
}

@media screen and (max-width:1639px) {
  .menu {
    display: inline-block;
    top: 0;
    right: 0;
    margin: 10px 20%
  }

  .sidenav {
    display: block;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #46A140;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s
  }

  .sidenav a:hover {
    color: black
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px
  }

  .sky1 {
    margin-top: 50px
  }

  .nav-links {
    display: none
  }

  h1, h2 {
    font-size: 2.5em
  }

  h3 {
    font-size: 1.5em
  }

  h4 {
    font-size: 1.2em
  }

  p {
    font-size: 1em
  }

  .houseImg {
    width: 400px;
    height: auto
  }

  .calculator {
    display: block;
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px 0;
    background: none;
  }

  .calculator h4 {
    font-size: 1.2em;
    margin-bottom: 40px
  }

  .calculator p {
    font-size: 1em;
  }

  .sections {
    flex-direction: column
  }

  .sect1 {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center
  }

  .result {
    width: 100%
  }

  .result h3 {
    padding: 2% 0;
    font-size: 1.7em
  }

  .result h4 {
    margin: 5px
  }

  @media screen and (max-width:1100px) {
    nav {
      padding: 10px 5%
    }

    .menu {
      margin: 10px 5%
    }

    body {
      overflow-x: hidden
    }

    h1, h2 {
      font-size: 1.9em
    }

    h3 {
      font-size: 1.5em
    }

    h4 {
      font-size: 1.2em
    }

    p {
      font-size: 1em
    }

    .calculator {
      width: 90%;
      display: block;
      margin-left: 5%;
      margin-right: 5%;
      padding: 20px 0
    }

    .calculator h4 {
      font-size: 1.2em
    }

    .calculator p {
      font-size: 1.2em
    }

    .processHeading, .calcHeading h2 {
      font-size: 1.5em
    }

    .sky1 {
      padding-left: 0;
      padding-right: 5%
    }

    .sky2 {
      display: none
    }

    .hero {
      display: block;
      text-align: center;
      background-color: #46A140;
      height: 350px;
      color: white;
      padding: 40px 0
    }

    .heading1 {
      text-align: center;
      margin-left: 0%
    }

    .heading2 {
      width: 100%
    }

    .house {
      display: none
    }

    .process {
      display: block;
      padding: 0 5%
    }

    .step {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      text-align: center;
      width: 100%
    }

    .first p, .second ul, .third p {
      width: 90%;
      margin: 5% 5%;
      text-align: center;
    }

    .images {
      padding: 0 5%
    }

    .testimonials {
      margin: 0 5%
    }

    .calculator {
      width: 90%;
      display: block;
      margin-left: 5%;
      margin-right: 5%;
      padding: 20px 0
    }

    .calculator h4 {
      font-size: 1.2em
    }

    .calculator p {
      font-size: 1.2em
    }


    .containerMobile {
      display: block;
      position: relative;
      cursor: pointer;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      padding: 0;
    }

    .container {
      display:none;
    }

    .containerMobile input {
      position: absolute;
      opacity: 0;
      cursor: pointer
    }

    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: #eee;
      border-radius: 50%
    }

    .containerMobile:hover input~.checkmark {
      background-color: #ccc
    }

    .containerMobile input:checked~.checkmark {
      background-color: #2196F3
    }

    .checkmark:after {
      content: "";
      position: absolute;
      display: none
    }

    .containerMobile input:checked~.checkmark:after {
      display: block
    }

    .containerMobile:hover input~.checkmark {
      background-color: #ccc
    }

    .containerMobile input:checked~.checkmark {
      background-color: #F9A602
    }
    .sections {
      flex-direction: column
    }

    .sect1 {
      width: 100%;
      flex-direction: column;
      align-items: center
    }

    .cardParent {
      flex-direction: column;
      justify-content: space-between;
      width: 300px;
      margin-bottom: 20px
    }

    .cardParent a {
      margin: 0;
      padding: 0
    }

    .cardParent img {
      width: 300px;
      height: auto
    }

    .card {
      margin: 5px 0
    }

    .result {
      display: none;
    }

    .result h3 {
      padding: 2% 0;
      font-size: 1.7em
    }

    .result h4 {
      margin: 5px
    }

    .mySlides h4 {
      display: inline;
      font-size: 1.2em
    }

    .getStarted {
      display: block;
      text-align: center
    }
  }
